{% extends 'base.html.twig' %}

{% block title %}Les caves{% endblock %}

{% block body %}
    <h2>Toutes les caves</h2>
    {% for cellar in cellars %}
        <div class="cellars_container">
            <div class="cellar_line">
                <p>La cave de {{ cellar.user }}</p>
                <a href="{{ path('app_unit_cave', {id: cellar.id}) }}">Visitez la cave</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
