@use "../abstract/mixins";
@use "../abstract/variables" as var;

.login_signin {
    @include mixins.flex;
    width: 100%;
    height: 100vh;
    background-color: black;

    .element_container {
        @include mixins.flex($direction: column);
        background-color: white;
        height: 98%;
        width: 48%;
        border-radius: 10px;

        // link inscription/login/récupération
        a {
            color: var.$textSecondaryColor;
            text-decoration: underline;
            transition: .3s ease;

            &:hover {
                color: var.$primaryColor;
            }
        }

        .title {
            @include mixins.flex(column, center, flex-start);
            padding-bottom: 3rem;

            h2 {
                font-size: 3em;
            }

            p {
                padding-left: 5px; // Bidouille bidouille alignement h2
            }
        }

        form {
            @include mixins.flex(column, center, center);
            width: 100%;
            padding: 5px;

            .alert {
                margin-bottom: 2rem;
            }

            div {
                width: 35%;

                li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: red;
                }
            }

            // Pour le bouton
            div:last-of-type {
                width: 15%;
                text-align: center;
                background-color: var.$btnColor;
                padding: 6px;
                border-radius: 5px;
                color: white;
                margin-top: 20px;
                margin-bottom: 20px;
                transition: .3s ease;
                cursor: pointer;

                &:hover {
                    background-color: var.$btnHover;   
                }
            }

            label {
                display: block;
                margin-bottom: .5rem;
            }

            input {
                all: unset;
                width: 100%;
                height: 35px;
                margin-bottom: 20px;
                padding-left: 5px;
                border-radius: 5px;
                border: 1px solid var.$textColor;

                &:focus {
                    border: 2px solid #3E0018;
                }
            }

            a {
                display: block;
                margin-top: -15px;
            }

            button {
                all: unset;
                justify-self: center;
            }
        }

        .login_link {
            @include mixins.flex;
            gap: 1rem;
        }

    }
    .bg_video {
        position: relative;
        z-index: 1;
        width: 50%;
        height: 98%;

        &::after {
            position: absolute;
            z-index: 2;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,.3) 45%, rgba(0,0,0,.5) 50%);
        }

            video {
                position: absolute;
                z-index: 1;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 45%;
                object-fit: cover;
            }
    }

}