@use "../abstract/mixins";
@use "../abstract/variables" as var;

@media screen and (max-width: 1100px) {
    .login_signin {
        .element_container {

            .title {

                h2 {
                    font-size: 2.5em;
                }
            }

            form {

                div {
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .caves {

        .cellars_container {
            height: 300px;
            justify-content: flex-start;
            
            .cellar_firstColumn {
                align-items: flex-start;
                padding-left: 3rem;
                width: 95%;
                gap: 1.5rem;

                &::after {
                    visibility: hidden;
                }

                .name_ratings {
                    @include mixins.flex(column, center, flex-start);
                    width: 80%;
                    gap: 1rem;

                    .name {
                        @include mixins.flex($justify: flex-start);
                    }

                    .rating_box {
                        @include mixins.flex($justify: flex-start);

                        .stars {
                            padding: 5px 10px;
                        }
                    }

                    h3 {
                        text-align: left;
                        font-size: 1.5em;
                    }
                }

                .description {
                    @include mixins.flex($justify: flex-start);
                    padding: 0px;
                    height: fit-content;
                    text-align: left;

                    p {
                        width: 90%;
                    }
                }
            }

            .cellar_secondColumn {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .login_signin {

        .element_container {
            width: 100%;
        }
        
        .bg_video {
            display: none;
        }
    }
}

@media screen and (max-width: 410px) {

    .caves {

        .cellars_container {
            flex-direction: reverse-column;
            height: 400px;

            .visit_links {

                position: relative;
            }
        }
    }
    .login_signin {

        .element_container {
            width: 100%;

            .title {

                h2 {
                    font-size: 2em;                   
                }
            }

            .login_link {
                flex-direction: column;
            }
        }

        .bg_video {
            display: none;
        }
    }
}