
@use "../abstract/mixins";
@use "../abstract/variables" as var;

.main_home {
    @include mixins.flex($direction: column);
    width: 100%;

    .banner {
        @include mixins.flex;
        width: 100%;
    
        .title_banner {
            width: 60%;
            @include mixins.flex($direction: column, $align: flex-end);

            h2 {
                text-align: end;
                font-size: 4rem;
                text-transform: uppercase;
    
                span {
                    display: block;
                }
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    
        .img_wrapper {
            width: 40%;

            &::after {
                position: absolute;
                
            }
        }
    }
    
    .exploration_container {
        @include mixins.flex($direction: column);
        width: 80%;
        margin-bottom: 6rem;
    
        article {
            @include mixins.flex($align: flex-start);
            width: 100%;
            margin-top: 5rem;

            .img_wrapper {

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            // Elements display généraux pour tous les articles - gestion de la singularité avec odd et even 
            .elements {
                gap: 1rem;
                width: 80%;
                
                h3 {
                    font-size: 2em;
                }
                p {
                    width: 40%;
                }
            }

            &:nth-child(odd) {
                .elements {
                    @include mixins.flex($direction: column, $align: flex-start);
                    padding-left: 2rem;
                }
            }
    
            &:nth-child(even) {
                flex-direction: row-reverse;

                .elements {
                    @include mixins.flex($direction: column, $align: flex-end);
                    padding-right: 2rem;

                    p {
                        text-align: end;
                    }
                }
            }
        }

        // bouton rejoignez-nous dupliquer pour boutons navigation -> link pages 
        // Mettre dans reset.scss pour opti. code
        a {
            padding: 10px 25px;
            border: 1px solid black;
            border-radius: 15px;
            margin-top: 5rem;
            color: black;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                background-color: var.$btnColor;
                color: white;
            }

            &:focus {
                background-color: var.$btnHover;
            }
        }
    }

    // Partie formulaire de contact 
    .contact{
        @include mixins.flex;
        width: 100%;

        .form_container {
            @include mixins.flex(column, center, center);
            width: 98%;
            background-color: var.$primaryColor;
            border-radius: 10px;

            .title {
                @include mixins.flex(column, center, center);
                color: white;
                text-align: center;
                gap: 3rem;
                margin-bottom: 4rem;


                h3 {
                    font-size: 2em;
                    margin-top: 3rem;
                }

                span {
                    display: block;
                }
            }

            form {
                @include mixins.flex(column, center, center);
                width: 100%;
                color: white;
                gap: 2.5rem;
                margin-bottom: 3rem;

                div {
                    width: 25%;
                }

                div:last-of-type {
                    width: 5%;
                    text-align: center;
                    background-color: var.$thirdColor;
                    padding: 6px;
                    border-radius: 5px;
                    color: white;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    transition: .3s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: var.$btnColor;
                    }
                }

                // Display message d'erreur
                li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: white;
                    font-family: 'ProBold';
                }

                label {
                    display: block;
                    margin-bottom: 0.5rem;
                }

                input {
                    all: unset;
                    width: 100%;
                    background-color: white;
                    height: 35px;
                    padding-left: 5px;
                    border-radius: 5px;
                    border: 1px solid var.$textColor;
    
                    &:focus {
                        background-color: var.$secondaryColor;
                    }
                }

                textarea {
                    all: unset;
                    background-color: white;
                    border-radius: 5px;
                    padding-left: 5px;                                                      
                    height: 150px;
                    width: 100%;

                    &:focus {
                        background-color: var.$secondaryColor;
                    }
                }

                // SUBMIT BTN
                button {
                    all: unset;
                }

                    
            }
        }
    }
}
