{% extends 'base.html.twig' %}

{% block title %}Ma cave personnelle{% endblock %}

{% block body %}
    <h2>Bienvenue dans votre cave {{app.user.userIdentifier}}</h2>
    <a href="{{ path('app_addBottle') }}">Ajouter une bouteille</a>
{% endblock %}
